<h1> Concert Search </h1>

<%= form_tag("/concerts", method: "get") do %>
  <%= label_tag(:artist, "Search for a concert") %>
  <%= text_field_tag(:artist, params[:artist]) %>
  <%= submit_tag("SEARCH")%>
<% end %>

<ul><% @concerts.each do |concert| %>
  <li>  <%= link_to concert.artist, concert_path(concert) %> </li>
  <li><%= concert.location %></li>
  <li><%= concert.venue %></li><br>
  <% end  %>
</ul>
