<h1> Concert Page </h1>
<strong><%= @concert.artist %></strong>
<%= @concert.location %>
<%= @concert.genre %>
<%= @concert.venue %>
<%= @concert.readable_datetime %>

<%= form_tag tickets_path do %>
  <%= hidden_field_tag :concert_id, @concert.id %>
  <%= submit_tag "Buy Ticket" %>
<% end %>
